doctype html
html
  head    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="application/html; charset=UTF-8">
    block head
      script(src='/jquery.js')
  body
    block content
    block foot
      #footer
        p some footer content